@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 273 30% 17%;
    --foreground: 210 20% 98%;
    --card: 273 30% 24%;
    --card-foreground: 210 20% 98%;
    --popover: 273 30% 17%;
    --popover-foreground: 210 20% 98%;
    --primary: 199 98% 48%;
    --primary-foreground: 210 20% 98%;
    --secondary: 212 78% 21.2%;
    --secondary-foreground: 210 20% 98%;
    --muted: 212 78% 28%;
    --muted-foreground: 210 20% 80%;
    --accent: 45 100% 50%;
    --accent-foreground: 273 30% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 212 78% 28%;
    --input: 212 78% 28%;
    --ring: 199 98% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 273 30% 17%;
    --foreground: 210 20% 98%;
    --card: 273 30% 24%;
    --card-foreground: 210 20% 98%;
    --popover: 273 30% 17%;
    --popover-foreground: 210 20% 98%;
    --primary: 199 98% 48%;
    --primary-foreground: 210 20% 98%;
    --secondary: 212 78% 21.2%;
    --secondary-foreground: 210 20% 98%;
    --muted: 212 78% 28%;
    --muted-foreground: 210 20% 80%;
    --accent: 45 100% 50%;
    --accent-foreground: 273 30% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 212 78% 28%;
    --input: 212 78% 28%;
    --ring: 199 98% 48%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
